Itvdn/java-ee-materials/001_Intro_XML/001_Samples/Intro_XML/src/com/itvdn/jdbcandhibernate/ex_002_formatting_and_validation_XML/country.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="root" type="rootType"/>

  <xs:complexType name="rootType">

    <xs:sequence>

      <xs:element type="countryType" name="country" maxOccurs="unbounded" minOccurs="0"/>

    </xs:sequence>

  </xs:complexType>

  <xs:complexType name="countryType">

    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="capital" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="visa_cost" type="visaType" />


    </xs:sequence>

    <xs:attribute type="xs:string" name="countryCode" use="required"/>

  </xs:complexType>

  <xs:complexType name="visaType">

    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute type="xs:string" name="currency" use="required"/>
      </xs:extension>
    </xs:simpleContent>

  </xs:complexType>



</xs:schema>